extends layout 

block titulo_pagina
  title=`Início`

block principal
  #bemvindo.container.bemvindo.d-flex.align-items-center.justify-content-center="Conteúdo (não me julgue, não sou developer front-end)"